{% extends '@Admin/table/base.html.twig' %}

{% block table_title %}
    会员管理
{% endblock %}

{% block table_buttons %}
{% endblock %}

{% block table_thead %}
    <tr>
        <th>编号</th>
        <th>昵称/头像</th>
        <th>会员组</th>
        <th>邮箱</th>
        <th>手机号</th>
        <th>最后登录IP</th>
        <th>最后登录时间</th>
        <th>登录次数</th>
        <th>创建时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
{% endblock %}

{% block table_tbody %}
    {% for val in list %}
        <tr>
            <td>{{ val.id }}</td>
            <td>
                <p><img style="width: 52px; height: 52px;border-radius: 100%" src="/assets/images/user-4.png" alt=""></p>
                {{ val.profile.nickname | default(val.username) }}
            </td>
            <td><span style="background: #777" class="badge badge-default">{{ val.group.title | default('未绑定') }}</span></td>
            <td>{{ val.email | default('未绑定') }}</td>
            <td>{{ val.mobile | default('未绑定') }}</td>
            <td>{{ val.last_login_ip | default('-.-.-.-') }}</td>
            <td>{{ val.last_login_time | default('-.-.- --:--:--') }}</td>
            <td>{{ val.login_count | default(0) }}</td>
            <td>{{ val.createAt.format("Y-m-d H:i") }}</td>
            <td>{{ val.status ? '不可用' : '可用' }}</td>
            <td>
                <button onclick="open_modal('编辑菜单', '{{ path("admin_member_edit", { id: val.id }) }}', $('.reload'))" class="btn btn-orange"><i class="linecons-pencil"></i>编辑</button>
                <button class="btn btn-red"><i class="linecons-trash"></i>删除</button>
            </td>
        </tr>
    {% else %}
        <tr>
            <td class="text-center" colspan="11">没有任何数据</td>
        </tr>
    {% endfor %}
{% endblock %}
